<div class="full_height" layout="column" flex class="content">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button href="#/" class="md-icon-button" aria-label="Menú">
        <md-icon md-svg-icon="img/header/menu.svg"></md-icon>
      </md-button>
      <h2>
        <span>Void</span>
      </h2>
    </div>
  </md-toolbar>
  
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label>
          <md-icon md-svg-icon="img/header/home.svg" class="md-accent"></md-icon>
          Principal
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <div panel></div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-svg-icon="img/header/system.svg" class="md-accent"></md-icon>
          Sistema
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <div system></div>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-svg-icon="img/header/ship.svg" class="md-accent"></md-icon>
          Nave
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Ship</h1>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-svg-icon="img/header/missions.svg" class="md-accent"></md-icon>
          Misiones
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Missions</h1>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-svg-icon="img/header/constructions.svg" class="md-accent"></md-icon>
          Construcciones
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Constructions</h1>
          </md-content>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label>
          <md-icon md-svg-icon="img/header/investigation.svg" class="md-accent"></md-icon>
          Investigación
        </md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Investigation</h1>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>
</div>