<div class="full_height" layout="column" flex class="content">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button href="#/" class="md-icon-button" aria-label="Volver">
        <md-icon md-svg-icon="img/header/back.svg"></md-icon>
      </md-button>
      <h2>
        <span>Void - Registro</span>
      </h2>
    </div>
  </md-toolbar>

  <form class="full_height" ng-submit="vm.register()">
    <md-content ui-view class="full_height" flex layout="row" layout-align="center center">
      <md-card flex-gt-sm="90" flex-gt-md="80">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Regístrate</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Para registrarte solo tienes que introducir tu nuevo nombre de usuario, una dirección de email, la contraseña que quieras tener y luego confirmarla. Se te enviará un email con instrucciones para confirmar tu cuenta.
          </p>
          <md-input-container class="md-block">
            <label>Nombre de usuario</label>
            <input ng-model="vm.name" />
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="vm.email" type="email" />
          </md-input-container>
          <md-input-container class="md-block">
            <label>Contraseña</label>
            <input ng-model="vm.pass" type="password" />
          </md-input-container>
          <md-input-container class="md-block">
            <label>Confirmar contraseña</label>
            <input ng-model="vm.conf" type="password" />
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit">Continuar</md-button>
          </md-card-actions>
      </md-card>
    </md-content>
  </form>
</div>