<md-content ui-view class="full_height" flex layout="row" layout-xs="column" layout-align="center stretch">
  <md-card flex-xs="90" flex-gt-md="70">
    <md-card-title>
      <md-card-title-text><span class="md-headline">Sistema</span></md-card-title-text>
    </md-card-title>
    <md-card-content layout="row" layout-xs="column">
      <div class="system">
        <div id="sun"></div>
        <div id="sun_name">{{vm.system_name}}</div>
        <div ng-repeat="item in vm.system_list" id="{{item.type}}{{item.id}}" ng-click="vm.selectSystem(item)"></div>
        <div ng-repeat="item in vm.system_list" id="{{item.type}}{{item.id}}_walk"></div>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-if="vm.system_view=='planet'" ng-click="vm.selectPlanet()">Ver Sistema {{vm.selectedSystem.name}}</md-button>
      <span ng-if="vm.system_view=='planet'" flex></span>
      <md-button ng-if="vm.system_view=='moon'" ng-click="vm.selectMoon()">Ver Planeta {{vm.selectedPlanet.name}}</md-button>
      <span ng-if="vm.system_view=='moon'" flex></span>
      <md-button>Ver Galaxia</md-button>
    </md-card-actions>
  </md-card>

  <md-card flex-xs="90" flex-gt-md="30">
    <md-card-content>
      <div class="system_info_box">
        <div class="system_info_box_header">{{vm.info_box.name}}</div>
        <div ng-if="vm.info_box.view=='system'">
          <div class="system_info_box_line">
            <label>Tipo de estrella:</label>
            <span>
              {{vm.info_box.type}} <a href class="system_info_box_info"></a>
            </span>
            <span class="system_info_box_desc">{{vm.info_box.type_desc}}</span>
          </div>
          <div class="system_info_box_line">
            <label>Num. planetas:</label>
            <span>
              {{vm.info_box.planets}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Descubridor:</label>
            <span>
              {{vm.info_box.discoverer}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Comerciantes:</label>
            <span>
              {{vm.info_box.npcs}}
            </span>
          </div>
        </div>
        <div ng-if="vm.info_box.view=='planet'">
          <div class="system_info_box_line">
            <label>Tipo:</label>
            <span>
              {{vm.info_box.type}} <a href class="system_info_box_info"></a>
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Radio:</label>
            <span>
              {{vm.info_box.radius}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Indice sup.:</label>
            <span>
              {{vm.info_box.survival}} / 10
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Tiene vida:</label>
            <span>
              {{vm.info_box.has_life}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Num. lunas:</label>
            <span>
              {{vm.info_box.moons}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Recursos:</label>
            <span ng-hide="vm.selectedPlanet.explored">Sin explorar</span>
          </div>
        </div>
        <div ng-if="vm.info_box.view=='moon'">
          <div class="system_info_box_line">
            <label>Radio:</label>
            <span>
              {{vm.info_box.radius}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Indice sup.:</label>
            <span>
              {{vm.info_box.survival}} / 10
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Tiene vida:</label>
            <span>
              {{vm.info_box.has_life}}
            </span>
          </div>
          <div class="system_info_box_line">
            <label>Recursos:</label>
            <span ng-hide="vm.selectedPlanet.explored">Sin explorar</span>
          </div>
        </div>
      </div>

      <div ng-if="vm.info_box.view=='system'">
        <md-button class="md-raised md-accent system_jump_to" ng-hide="!vm.system_id">
          <div layout="row">
            <md-icon md-svg-icon="img/system/jump_to.svg"></md-icon>
            <p flex>Saltar a este sistema</p>
            <p>{{vm.system_jump_to_time}}</p>
          </div>
        </md-button>

        <h3 class="center">
          <md-icon md-svg-icon="img/system/connections.svg"></md-icon>
          Sistemas vecinos
        </h3>

        <md-list>
          <md-list-item ng-repeat="item in vm.sidebar_list" class="md-2-line">
            <img ng-src="img/system/{{item.icon}}.svg" class="md-avatar" alt="{{item.name}}" />
            <div class="md-list-item-text">
              <p>{{item.name}}</p>
            </div>
            <md-button class="md-raised md-secondary">
              <div layout="row">
                <md-icon md-svg-icon="img/system/jump_to.svg"></md-icon>
                <p flex>{{item.time}}</p>
              </div>
            </md-button>
            <md-divider ></md-divider>
          </md-list-item>
        </md-list>
      </div>

      <div ng-if="vm.info_box.view=='planet'">
        <h3 class="center">
          Acciones
        </h3>

        <md-button class="md-raised md-accent system_jump_to" ng-hide="vm.selectedPlanet.explored" ng-click="vm.explorePlanet($event)" ng-disabled="vm.working">
          <div layout="row">
            <md-icon md-svg-icon="img/system/explore.svg"></md-icon>
            <p flex>Explorar planeta</p>
            <p>{{vm.selectedPlanet.explore_time | showtime}}</p>
          </div>
        </md-button>

        <md-button class="md-raised md-warn system_jump_to" ng-hide="!vm.selectedPlanet.explored || !vm.selectedPlanet.npc">
          <div layout="row">
            <md-icon md-svg-icon="img/system/explore.svg"></md-icon>
            <p flex>Comercio</p>
          </div>
          <md-divider></md-divider>
          <div layout="row">
            <div class="npc_avatar">
              <img ng-src="/img/race/race_{{vm.selectedPlanet.npc.id_race}}.png" />
            </div>
            <p>{{vm.selectedPlanet.npc.name | urldecode}}</p>
          </div>
        </md-button>
      </div>

      <div ng-if="vm.info_box.view=='moon'">
        <h3 class="center">
          Acciones
        </h3>

        <md-button class="md-raised md-accent system_jump_to" ng-hide="vm.selectedMoon.explored" ng-click="vm.exploreMoon($event)" ng-disabled="vm.working">
          <div layout="row">
            <md-icon md-svg-icon="img/system/explore.svg"></md-icon>
            <p flex>Explorar luna</p>
            <p>{{vm.selectedMoon.explore_time | showtime}}</p>
          </div>
        </md-button>
        
        <md-button class="md-raised md-warn system_jump_to" ng-hide="!vm.selectedMoon.explored || !vm.selectedMoon.npc">
          <div layout="row">
            <md-icon md-svg-icon="img/system/explore.svg"></md-icon>
            <p flex>Comercio</p>
          </div>
          <md-divider></md-divider>
          <div layout="row">
            <div class="npc_avatar">
              <img ng-src="/img/race/race_{{vm.selectedMoon.npc.id_race}}.png" />
            </div>
            <p>{{vm.selectedMoon.npc.name | urldecode}}</p>
          </div>
        </md-button>
      </div>

    </md-card-content>
  </md-card>
</md-content>

<script type="text/x-template" id="sun_style">
#sun{
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
  position: absolute;
  width: {{width}}px;
  height: {{width}}px;
  top: calc( 50% - {{width_half}}px);
  left: calc( 50% - {{width_half}}px);
  background-color: {{color}};
  border-radius: {{width_half}}px;
  z-index: 2;
}

#sun_name{
  left: calc(50% - 50px);
  position: absolute;
  text-align: center;
  top: calc(50% + {{width_half}}px);
  width: 100px;
  z-index: 2;
}
</script>

<script type="text/x-template" id="planet_style">
  @keyframes planetRotate{{id}}{
    from{
      transform:rotate(0deg) translate(-{{distance_half}}px) rotate(0deg);
    }
    to{
      transform:rotate(360deg) translate(-{{distance_half}}px) rotate(-360deg);
    }
  }

  #planet{{id}}_walk{
    display: {{visible}};
    position: absolute;
    width: {{distance}}px;
    height: {{distance}}px;
    top: calc( 50% - {{distance_half}}px);
    left: calc( 50% - {{distance_half}}px);
    border-radius: {{distance_half}}px;
    border: 1px solid #000;
    z-index: 1;
  }


  #planet{{id}}{
    display: {{visible}};
    position: absolute;
    width: {{width}}px;
    height: {{width}}px;
    top: calc( 50% - {{width_half}}px);
    left: calc( 50% - {{width_half}}px);
    background-color: #888888;
    border-radius: {{width_half}}px;
    z-index: 2;
    animation: planetRotate{{id}} {{rotate_time}}s infinite linear;
  }

  #planet{{id}}:hover{
    background-color: #f00;
    cursor: pointer;
  }
</script>

<script type="text/x-template" id="moon_style">
  @keyframes moonRotate{{id}}{
    from{
      transform:rotate(0deg) translate(-{{distance_half}}px) rotate(0deg);
    }
    to{
      transform:rotate(360deg) translate(-{{distance_half}}px) rotate(-360deg);
    }
  }

  #moon{{id}}_walk{
    display: {{visible}};
    position: absolute;
    width: {{distance}}px;
    height: {{distance}}px;
    top: calc( 50% - {{distance_half}}px);
    left: calc( 50% - {{distance_half}}px);
    border-radius: {{distance_half}}px;
    border: 1px solid #000;
    z-index: 1;
  }


  #moon{{id}}{
    display: {{visible}};
    position: absolute;
    width: {{width}}px;
    height: {{width}}px;
    top: calc( 50% - {{width_half}}px);
    left: calc( 50% - {{width_half}}px);
    background-color: #eee;
    border-radius: {{width_half}}px;
    border: 1px solid #000;
    z-index: 2;
    animation: moonRotate{{id}} {{rotate_time}}s infinite linear;
  }

  #moon{{id}}:hover{
    background-color: #f00;
    cursor: pointer;
  }
</script>